<body>
  <div class="container">
    <div class="wrapper animated bounceInLeft">
     
      <div class="side_cover_banner">
      </div>
      
      <div class="otp">
       <div id="login_title">Verify Phone Number</div>
        <form>
          
          <p class="otp_block">
              <input type="text" class="otp_slot">
              <input type="text"  class="otp_slot">
              <input type="text"  class="otp_slot">
              <input type="text"  class="otp_slot">
              <input type="text"  class="otp_slot">     
          </p>
          <p>
             <span class="info_span">
              Please wait while we verify your phone number, once you receive 5-didgit code please enter above.
             </span>
          </p>
          
          <p class="full">
            <button routerLink="/kyc/vendor-bank" style="background-image: -moz-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;
            background-image: -webkit-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;
            background-image: -ms-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;">Continue</button>
          </p>
          
          <span class="info_span">
              Didn't get verification code? <a href="#" id="resend">Resend</a>
            </span>
        </form>
      </div>
      
    </div>
  </div>
</body>