<!-- <div class="col-sm-1 col-lg-1 col-md-1 hidden-xs"></div> -->
<!-- <div id="content" class="col-sm-10 col-lg-10 col-md-10 col-xs-12 top-padding"> -->
<div id="content" class="container top-padding">
  <ul class="breadcrumb hidden-md hidden-sm hidden-xs">
    <li><a href="#">Home</a></li>
    <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Computers &amp; Tablets</a></li>
    <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Laptops</a></li>
    <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Apple</a></li>
    <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">HP Intel Core 1TB HDD 4GB RAM 15"</a></li>
  </ul>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
      <ul class="thumbnails">
        <li><a class="thumbnail" href="./../../../assets/image/cache/catalog/storefront/Layer_510.png" title="Apple Cinema 30&quot;">
              <img data-zoom-image="./../../../assets/image/cache/catalog/storefront/Layer_510.png" src="./../../../assets/image/cache/catalog/storefront/Layer_510.png" id="zoom_03" class="img-responsive center-block" alt="image">
                </a>
        </li>
        <li id="gallery_01" class="owl-carousel">
          <div class="col-xs-12">
            <a data-zoom-image="./../../../assets/image/cache/catalog/storefront/Layer_512-1.png" data-image="./../../../assets/image/cache/catalog/storefront/Layer_512-1.png"
              href="./../../../assets/image/cache/catalog/storefront/Layer_512-1.png">
                                              <img src="./../../../assets/image/cache/catalog/storefront/Layer_512-1.png" class="img-responsive center-block" alt="additional image">
                                          </a></div>
          <div class="col-xs-12">
            <a data-zoom-image="./../../../assets/image/cache/catalog/storefront/Layer_513.png" data-image="./../../../assets/image/cache/catalog/storefront/Layer_513.png"
              href="./../../../assets/image/cache/catalog/storefront/Layer_513.png">
                                              <img src="./../../../assets/image/cache/catalog/storefront/Layer_513.png" class="img-responsive center-block" alt="additional image">
                                          </a></div>
          <div class="col-xs-12">
            <a data-zoom-image="./../../../assets/image/cache/catalog/storefront/Layer_514.png" data-image="./../../../assets/image/cache/catalog/storefront/Layer_514.png"
              href="./../../../assets/image/cache/catalog/storefront/Layer_514.png">
                                              <img src="./../../../assets/image/cache/catalog/storefront/Layer_514.png" class="img-responsive center-block" alt="additional image">
                                          </a></div>
          <div class="col-xs-12">
            <a data-zoom-image="./../../../assets/image/cache/catalog/storefront/Layer_514.png" data-image="./../../../assets/image/cache/catalog/storefront/Layer_514.png"
              href="./../../../assets/image/cache/catalog/storefront/Layer_514.png">
                                              <img src="./../../../assets/image/cache/catalog/storefront/Layer_514.png" class="img-responsive center-block" alt="additional image">
                                          </a></div>
          <div class="col-xs-12">
            <a data-zoom-image="./../../../assets/image/cache/catalog/storefront/Layer_514.png" data-image="./../../../assets/image/cache/catalog/storefront/Layer_514.png"
              href="./../../../assets/image/cache/catalog/storefront/Layer_514.png">
                                              <img src="./../../../assets/image/cache/catalog/storefront/Layer_514.png" class="img-responsive center-block" alt="additional image">
                                          </a></div>
          <div class="col-xs-12">
            <a data-zoom-image="./../../../assets/image/cache/catalog/storefront/Layer_514.png" data-image="./../../../assets/image/cache/catalog/storefront/Layer_514.png"
              href="./../../../assets/image/cache/catalog/storefront/Layer_514.png">
                                              <img src="./../../../assets/image/cache/catalog/storefront/Layer_514.png" class="img-responsive center-block" alt="additional image">
                                          </a></div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 pro-content">
      <div class="row">
        <h1><strong>HP Intel Core 1TB HDD 4GB RAM 15"</strong></h1>
        <span class="small-text">Add to wishlist</span><img class="boxed-icon-less" src="./../../../assets/image/cache/catalog/storefront/wishlist_icon.png">
      </div>
      <hr class="producthr">

      <div class="rating">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <img src="./../../../assets/image/cache/catalog/storefront/logo.png" alt="">
          </div>

          <div class="col-md-4 col-sm-5 col-xs-5 small-text center-text">
            <a href="#">More from this seller</a>
          </div>
          <div class="col-md-4 col-sm-3 col-xs-3">
            <a href="#rt">SKU ID: 564599</a>
          </div>
        </div>
        <hr class="producthr">
      </div>
      <div class="rating">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4 prorate"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span style="padding-left:6px">(3)</span>            </div>

          <div class="col-md-4 col-sm-4 col-xs-4 proreview">
            <a href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 prowrite">
            <a href="#rt" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
          </div>
        </div>
        <hr class="producthr">
      </div>
      <ul class="list-unstyled">
        <li>&mdash; Product name-HP Notebook - 15-</li>
        <li>&mdash; Microprocessor-Intel® Core™ </li>
        <li>&mdash; Memory, standard-4 GB</li>
        <li>&mdash; Video graphics-Intel®</li>
        <li>&mdash; Hard drive-1 TB 5400 rpm SATA</li>
        <li>&mdash; Optical drive-DVD-Writer</li>
      </ul>
      <p class="top-padding">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu velit libero. Aenean ut velit at odio dictum vestibulum
        quis eget mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus nulla at justo suscipit fringilla.
      </p>
      <p class="top-padding"><a href="#" style="color: red">Official Product Link</a></p>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 pro-content">
      <div id="product">
        <div class="row">
          <div class="col-lg-6 col-md-6 hidden-xs hidden-sm forced-left">
            <p>Availability:<span style="color:#1eb41d">In Stock</span></p>
          </div>
          <div class="col-lg-6 col-md-6 hidden-xs hidden-sm forced-right">
            <p>Sold: <span style="color:#f91643">N20,599</span></p>
          </div>
        </div>
        <hr class="producthr">
        <div class="delivery_info">
          <img class="delivery_icon " src="./../../../assets/image/cache/catalog/storefront/delivery_truck.png" alt="">
          <span class="Free_Shipping_Nationwide">Free Shipping Nationwide</span>
        </div>

        <!-- Prices -->
        <div class="top-padding">
          <span class="price-old">N219,000</span>
          <span class="price-new">N150,000</span>
        </div>

        <form action="">
          <div class="form-group top-padding">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 op-box qtlabel">
                <label class="control-label text-decorop" for="input-quantity">Quantity:</label>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 op-box qty-plus-minus">
                <input id="input-quantity" type="text" name="quantity" value="2" size="2" id="input-quantity" class="form-control input-number pull-left format_form"
                />
                <input type="hidden" name="product_id" value="42" />
                <button type="button" class="form-control pull-left btn-number btnplus format_form" data-type="plus" data-field="quantity">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                <button type="button" class="form-control pull-left btn-number btnminus format_form" disabled="disabled" data-type="minus"
                  data-field="quantity">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="ram">Select RAM</label>
            <select class="form-control format_form" name="ram" id="ram">
                  <option value="">16GB</option>
                  <option value="">32GB</option>
                  <option value="">64GB</option>
                </select>
          </div>
          <div class="form-group">
            <label for="ram">Select Storage</label>
            <select class="form-control format_form" name="ram" id="ram">
                  <option value="">2TB</option>
                  <option value="">6TB</option>
                  <option value="">14TB</option>
                </select>
          </div>
          <div class="form-group">
            <label for="ram">Select Processor</label>
            <select class="form-control format_form" name="ram" id="ram">
                  <option value="">32GHz Dual Core</option>
                  <option value="">32GHz Quad Core</option>
                  <option value="">64GHz Dual Core</option>
                </select>
          </div>
          <button class="Add_to_Cart button_base">Add to Cart</button>
        </form>
      </div>
    </div>

    <div class="product-tab">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-accessories" data-toggle="tab">Accessories</a></li>
        <li><a href="#tab-description" data-toggle="tab">Description</a></li>
        <li><a href="#tab-specification" data-toggle="tab">Specification</a></li>
        <li><a href="#tab-review" data-toggle="tab">Reviews (3)</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-accessories">

          <h3 class="Accesories">Accesories</h3>
          <hr class="producthr">
          <div class="row">
            <div class="product-layout col-lg-2 col-md-4 col-xs-12 col-sm-6">
              <div class="Products">
                <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/storefront/MD565.png" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive center-block" /></a>
                </div>
                <div class="caption">
                  <div class="price">
                    <span class="accessories-price">$32.00</span>
                  </div>
                  <h4><a href="#">HTC Touch HD</a></h4>
                  <p class="small-text">(Included with purchase)</p>

                  <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                </div>
              </div>
            </div>

            <div class="product-layout col-lg-2 col-md-4 col-xs-12 col-sm-6">
              <div class="Products">
                <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/storefront/MD862.png" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive center-block" /></a>
                </div>
                <div class="caption">
                  <div class="price">
                    <span class="accessories-price">$32.00</span>
                  </div>
                  <h4><a href="#">HTC Touch HD</a></h4>

                  <p>
                    <label class="myCheckbox">
                          <input type="checkbox" name="check" id="check1"/> 
                          <span></span>
                          <label for="check" id="remember" for="check1">Select </label>
                    </label>
                  </p>
                  <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                </div>
              </div>
            </div>

            <div class="product-layout col-lg-2 col-md-4 col-xs-12 col-sm-6">
              <div class="product-layout">
                <div class="Products">
                  <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/storefront/airpods-201609.png" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive center-block" /></a>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="accessories-price">$32.00</span>
                    </div>
                    <h4><a href="#">HTC Touch HD</a></h4>

                    <p>
                      <label class="myCheckbox">
                            <input type="checkbox" name="check" id="check2"/> 
                            <span></span>
                            <label for="check" id="remember" for="check2">Select </label>
                      </label>
                    </p>
                    <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-12 col-sm-6 product-layout ">
              <div class=" product-layout">
                <div class=" Products">
                  <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/storefront/MLA02_DEFAULT_FV1.png" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive center-block" /></a>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="accessories-price">$32.00</span>
                    </div>
                    <h4><a href="#">HTC Touch HD</a></h4>

                    <p>
                      <label class="myCheckbox">
                            <input type="checkbox" name="check" id="check3"/> 
                            <span></span>
                            <label for="check" id="remember" for="check3">Select </label>
                      </label>
                    </p>
                    <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="product-layout col-lg-2 col-md-4 col-xs-12 col-sm-6">
              <div class=" product-layout">
                <div class=" Products">
                  <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/storefront/cto-airport-express-extreme.png" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive center-block" /></a>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="accessories-price">$32.00</span>
                    </div>
                    <h4><a href="#">HTC Touch HD</a></h4>

                    <p>
                      <label class="myCheckbox">
                            <input type="checkbox" name="check" id="check4"/> 
                            <span></span>
                            <label for="check" id="remember" for="check4">Select </label>
                      </label>
                    </p>
                    <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 col-sm-6">
              <div class="top-padding" style="text-align:center">
                <span class="price-old" style="font-size:14px">N219,000</span>
                <span class="price-new" style="font-size:16px">N150,000</span>
                <p class="small-text">Bundle price of selected items</p>
              </div>
              <div class="top-padding" style="text-align:center">
                <span style="font-size:15px">N219,000</span>
                <p class="small-text">Bundle Saving</p>
              </div>
              <button class="Add_to_Cart button_base" style="height: 40px">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu velit libero. Aenean ut velit at odio dictum
          vestibulum quis eget mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus nulla at justo
          suscipit fringilla. Ut sit amet ipsum id metus facilisis accumsan fringilla et diam. Donec pulvinar dignissim accumsan.
          Quisque sollicitudin placerat turpis, a hendrerit felis pulvinar sit amet. Vestibulum sagittis blandit nunc. </div>
        <div class="tab-pane" id="tab-specification">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td colspan="2"><strong>Processor</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Clockspeed</td>
                <td>100mhz</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="tab-review">
          <form class="form-horizontal" id="form-review">
            <div id="review"></div>
            <h2 class="co-heading">Write a review</h2>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label" for="input-name">Your Name</label>
                <input type="text" name="name" value="" id="input-name" class="form-control" />
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label" for="input-review">Your Review</label>
                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label rat">Rating</label> &nbsp;&nbsp;&nbsp; Bad&nbsp;
                <input type="radio" name="rating" value="1" /> &nbsp;
                <input type="radio" name="rating" value="2" /> &nbsp;
                <input type="radio" name="rating" value="3" /> &nbsp;
                <input type="radio" name="rating" value="4" /> &nbsp;
                <input type="radio" name="rating" value="5" /> &nbsp;Good
              </div>
            </div>

            <div class="buttons clearfix">
              <div class="pull-right">
                <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- relatedproduct -->

    <div class="relpro">
      <h3 class="heading">Customers who bought that also baought these</h3>
      <div class=" specialpro pro-nepr row">
        <div id="related" class="owl-carousel owl-theme">
          <div class=" col-xs-12 product-layout">
            <div class="product-thumb transition">
              <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/product/27-280x280.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive center-block" /></a>
                <h3 class="sale">sale</h3>
              </div>
              <div class="caption">
                <h4><a href="#">HTC Touch HD</a></h4>

                <div class="price">
                  <span class="price-new">$32.00</span> <span class="price-old">$122.00</span>
                </div>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div>

                <div class="button-group">
                  <button type="button" data-toggle="tooltip" onclick="cart.add('28');" class="bcart"><span>Add to Cart</span></button>
                  <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('28');" class="bwish pull-right"><svg width="18px" height="17px"><use xlink:href="#heart" /></svg></button>
                  <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('28');" class="bcom pull-right"><svg width="18px" height="17px"><use xlink:href="#compare"/></svg></button>
                  <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                </div>
              </div>
            </div>
          </div>
          <!--         <div class="clearfix visible-md"></div>
                   -->
          <div class=" col-xs-12 product-layout">
            <div class="product-thumb transition">
              <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/product/21-280x280.jpg" alt="iPhone" title="iPhone" class="img-responsive center-block" /></a>
                <h3 class="sale">sale</h3>
              </div>
              <div class="caption">
                <h4><a href="#">iPhone</a></h4>

                <div class="price">
                  <span class="price-new">$18.80</span> <span class="price-old">$123.20</span>
                </div>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div>

                <div class="button-group">
                  <button type="button" data-toggle="tooltip" onclick="cart.add('40');" class="bcart"><span>Add to Cart</span></button>
                  <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('40');" class="bwish pull-right"><svg width="18px" height="17px"><use xlink:href="#heart" /></svg></button>
                  <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('40');" class="bcom pull-right"><svg width="18px" height="17px"><use xlink:href="#compare"/></svg></button>
                  <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                </div>
              </div>
            </div>
          </div>
          <!--         <div class="clearfix visible-md"></div>
                   -->
          <div class=" col-xs-12 product-layout">
            <div class="product-thumb transition">
              <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/product/30-280x280.jpg" alt="iMac" title="iMac" class="img-responsive center-block" /></a>
                <h3 class="sale">sale</h3>
              </div>
              <div class="caption">
                <h4><a href="#">iMac</a></h4>

                <div class="price">
                  <span class="price-new">$38.00</span> <span class="price-old">$122.00</span>
                </div>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div>

                <div class="button-group">
                  <button type="button" data-toggle="tooltip" onclick="cart.add('41');" class="bcart"><span>Add to Cart</span></button>
                  <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('41');" class="bwish pull-right"><svg width="18px" height="17px"><use xlink:href="#heart" /></svg></button>
                  <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('41');" class="bcom pull-right"><svg width="18px" height="17px"><use xlink:href="#compare"/></svg></button>
                  <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                </div>
              </div>
            </div>
          </div>
          <!--         <div class="clearfix visible-md"></div>
                   -->
          <div class=" col-xs-12 product-layout">
            <div class="product-thumb transition">
              <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/product/25-280x280.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive center-block" /></a>
                <h3 class="sale">sale</h3>
              </div>
              <div class="caption">
                <h4><a href="#">Apple Cinema 30&quot;</a></h4>

                <div class="price">
                  <span class="price-new">$110.00</span> <span class="price-old">$122.00</span>
                </div>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div>

                <div class="button-group">
                  <button type="button" data-toggle="tooltip" onclick="cart.add('42');" class="bcart"><span>Add to Cart</span></button>
                  <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('42');" class="bwish pull-right"><svg width="18px" height="17px"><use xlink:href="#heart" /></svg></button>
                  <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('42');" class="bcom pull-right"><svg width="18px" height="17px"><use xlink:href="#compare"/></svg></button>
                  <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                </div>
              </div>
            </div>
          </div>
          <!--         <div class="clearfix visible-md"></div>
                   -->
          <div class=" col-xs-12 product-layout">
            <div class="product-thumb transition">
              <div class="image"><a href="#"><img src="./../../../assets/image/cache/catalog/product/28-280x280.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive center-block" /></a>
                <h3 class="sale">sale</h3>
              </div>
              <div class="caption">
                <h4><a href="#">HP LP3065</a></h4>

                <div class="price">
                  <span class="price-new">$62.00</span> <span class="price-old">$122.00</span>
                </div>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div>

                <div class="button-group">
                  <button type="button" data-toggle="tooltip" onclick="cart.add('47');" class="bcart"><span>Add to Cart</span></button>
                  <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('47');" class="bwish pull-right"><svg width="18px" height="17px"><use xlink:href="#heart" /></svg></button>
                  <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('47');" class="bcom pull-right"><svg width="18px" height="17px"><use xlink:href="#compare"/></svg></button>
                  <div class="bquickv pull-right" title="Quickview" data-toggle="tooltip"></div>
                </div>
              </div>
            </div>
          </div>
          <!--         <div class="clearfix visible-md"></div>
                   -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="col-sm-1 col-lg-1 col-md-1 hidden-xs"></div> -->