<body>
  <div class="container">
    <div class="wrapper  animated bounceInLeft">
     
      <div class="side_cover_banner">
      </div>
      
      <div class="set_password">
       <div id="login_title">Set Password</div>
        <form>
          <p>
            <input type="password" name="old password" class="old_password" placeholder="Type Old Password">
          </p>
          <p>
            <input type="password" name="new password" class="new_password" placeholder="Enter New Password">
          </p>
          <p>
            <input type="password" name="confirm password" class="confirm_password" placeholder="Confirm New Password">
          </p>
          <p class="full">
            <button style="background-image: -moz-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;
            background-image: -webkit-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;
            background-image: -ms-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;">
            Finish</button>
          </p>
        </form>
      </div>
      
    </div>
  </div>
</body>