<app-cookie-alert></app-cookie-alert>

<app-navbar></app-navbar>

<app-mobile-menu></app-mobile-menu>

<!-- Page busy/loading Icon -->
<div id="page-preloader" class="visible">
 <div class="preloader">
   <div id="loading-center-absolute">
     <div class="object" id="object_one"></div>
   </div>
 </div>
</div>

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>

<app-footer></app-footer>

<a href="#" id="scroll" title="Scroll to Top" style="display: block;">
    <i class="fa fa-angle-up"></i>
</a>
