<body>
  <div class="container">
    <div class="wrapper animated bounceInLeft">

      <div class="side_cover_banner">
      </div>

      <div class="login">
        <div id="login_title">Login</div>
        <form>
          <p>
            <input type="email" name="name" class="Email_Adress" placeholder="Email Address" autocomplete="new-password">
          </p>
          <p>
            <input type="password" name="company" class="Password" placeholder="Password" autocomplete="new-password">
          </p>
          <p>
            <label class="myCheckbox">
                <input type="checkbox" name="check" id="check"/> 
                <span></span>
                <label for="check" id="remember" for="check">Remember Me </label>
            </label>
          </p>
          <p class="full">
            <button routerLink="/shop/history" class="login_btn" style="background-image: -moz-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;
                background-image: -webkit-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;
                background-image: -ms-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;">
              Login
            </button>
          </p>

          <p class="footer_links">
            <a routerLink="/kyc/forgot-password"><span class="forgot">Forgot password?</span></a>
            <a routerLink="/kyc/register"><span class="account">Don't have an account?</span></a>
          </p>
        </form>
      </div>

    </div>
  </div>
</body>